


* {
    background-color: thistle;
}

header nav ul {
    display:inline-block;
    text-decoration:none;
    list-style-type: none;
    
}

header nav ul li a {
    text-decoration:none ;
    
}

 li {
    color: rgb(87, 4, 59);
    
    font-style: italic;
    
    
}



body{
    padding:100 px;
    margin: 20px;
}

h1,h2 {

    color: rgb(141, 10, 91);
    background-color: rgb(226, 208, 217);
}


body p {
    
    color: rgb(54, 6, 40);
    font-style: italic;
    
}




a {
    text-decoration: none;
    color: rgb(51, 3, 37);
    border: 2 px solid purple;
    padding: 5px;
    display: inline-block;
    
    
}
div {
    width: 500px;
    height: 500;
    position: absolute;
    display: inline;

}




