

* {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
* {
    background-color: rgb(219, 161, 205);
}

header nav ul {
    display:inline-block;
    text-decoration:none;
    list-style-type: none;
}

header nav ul li a {
    text-decoration:none ;
    
}

header nav ul li {
    color: rgb(87, 4, 59);
    
}

body{
    padding:100 px;
}

h1 {

    color: rgb(141, 10, 91);
    background-color: rgb(231, 108, 170);
}

body p {
    
    color: rgb(54, 6, 40);


}

a {
    text-decoration: none;
    color: rgb(51, 3, 37);
    border: 2 px solid purple;
    background-color: rosybrown;
    border-radius: 40px;
}




